@{
    ViewBag.Title = "Admin";
}
@{
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}

    @{
        ViewBag.Title = "Admin";
    }
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title GetFit</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>


        <br />
        <br />
        <br />
        <div class="container">
            <h2 style="font-size:xx-large">Hello Admin</h2>
            <img src="~/Images/logo_pravi.png" class="mx-auto d-block" style="width:100%">
        </div>

    </body>
</html>

</body>
</html>
