
@{
    ViewBag.Title = "Treneri";
}
@{
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}
<br />
<br />
<br />
<h1>Treneri</h1>

<hr />

<div class="row">
    <p><b>Ime:</b> Ajiša</p>
    <p><b>Prezime:</b> Cebo</p>
    <p><b>Datum rodenja:</b> 09-Feb-95 12:00:00 AM</p>
    <p><b>Tip:</b> Pilates </p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Berina</p>
    <p><b>Prezime:</b> Dedovic</p>
    <p><b>Datum rodenja:</b> 23-Feb-97 12:00:00 AM</p>
    <p><b>Tip:</b> Zumba </p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Nedim</p>
    <p><b>Prezime:</b> Granulo</p>
    <p><b>Datum rodenja:</b> 11-Nov-94 12:00:00 AM</p>
    <p><b>Tip:</b> Box </p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Ahmed</p>
    <p><b>Prezime:</b> Oruc</p>
    <p><b>Datum rodenja:</b> 05-Sep-96 12:00:00 AM</p>
    <p><b>Tip:</b> TRX </p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Amina</p>
    <p><b>Prezime:</b> Jažić</p>
    <p><b>Datum rodenja:</b> 04-Jun-95 12:00:00 AM</p>
    <p><b>Tip:</b> Yoga </p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Kerim</p>
    <p><b>Prezime:</b> Oruč</p>
    <p><b>Datum rodenja:</b> 13-May-89 12:00:00 AM</p>
    <p><b>Tip:</b> Personalni trener</p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Senada</p>
    <p><b>Prezime:</b> Karaman</p>
    <p><b>Datum rodenja:</b> 24-Aug-90 12:00:00 AM</p>
    <p><b>Tip:</b> Body Fit</p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Hamdo</p>
    <p><b>Prezime:</b> Hamdović</p>
    <p><b>Datum rodenja:</b> 09-Feb-92 12:00:00 AM</p>
    <p><b>Tip:</b> Aeroboxing</p>
</div>
<div class="row">
    <p><b>Ime:</b> Selma</p>
    <p><b>Prezime:</b> Selmanović</p>
    <p><b>Datum rodenja:</b> 04-Jun-95 12:00:00 AM</p>
    <p><b>Tip:</b> Yoga </p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Šemsa</p>
    <p><b>Prezime:</b> Suljaković</p>
    <p><b>Datum rodenja:</b> 13-May-89 12:00:00 AM</p>
    <p><b>Tip:</b> Personalni trener</p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Tarik</p>
    <p><b>Prezime:</b> Abramović</p>
    <p><b>Datum rodenja:</b> 24-Aug-90 12:00:00 AM</p>
    <p>Tip: Body Fit</p>
</div>
<hr />
<div class="row">
    <p><b>Ime:</b> Haris</p>
    <p><b>Prezime:</b> Simović</p>
    <p><b>Datum rodenja:</b> 09-Feb-92 12:00:00 AM</p>
    <p><b>Tip:</b> Aeroboxing</p>
</div>

