


@{
    ViewBag.Title = "Raspored";
}
@{
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}
<br />
<br />
<br />
<div class="container">
    <h2>Raspored treninga</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Satnica</th>
                <th>Ponedeljak</th>
                <th>Utorak</th>
                <th>Srijeda</th>
                <th>Cetvrtak</th>
                <th>Petak</th>
                <th>Subota</th>
                <th>Nedjelja</th>
            </tr>
        </thead>
        <tbody>
            <tr class="warning">
                <td><b>11:00-12:00</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Pilates</td>
                <td></td>


            </tr>
            <tr class="success">
                <td><b>12:00-12:45</b></td>
                <td>Box</td>
                <td></td>
                <td>Pilates</td>
                <td>Body Fit</td>
                <td>Body Fit</td>
                <td>Box</td>
                <td></td>
            </tr>
            <tr class="danger">
                <td><b>16:00-17:00</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>TRX</td>

            </tr>
            <tr class="info">
                <td><b>17:00-18:00</b></td>
                <td>Zumba</td>
                <td>Zumba</td>
                <td>Yoga</td>
                <td>Zumba</td>
                <td></td>
                <td></td>
                <td>Pilates</td>

            </tr>
            <tr class="warning">
                <td><b>18:00-19:00</b></td>
                <td>Pilates</td>
                <td>Body Fit</td>
                <td>Aeroboxing</td>
                <td>Aeroboxing</td>
                <td>Zumba</td>
                <td></td>
                <td>Yoga</td>

            </tr>
            <tr class="active">
                <td><b>19:10-20:10</b></td>
                <td>TRX</td>
                <td>TRX</td>
                <td>Body Fit</td>
                <td>BOX</td>
                <td>BOX</td>
                <td></td>
                <td></td>

            </tr>
            <tr class="danger">
                <td><b>20:15-21:00</b></td>
                <td>BOX</td>
                <td>TRX</td>
                <td>Aeroboxing</td>
                <td>Zumba</td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </tbody>
    </table>
</div>



